// Place all the styles related to the twitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline, .timeline h2 {
  font-size: 160%
}

.jumbotron {
  margin-top: 20px
}

hr {
  height: 1px;
  border: 1px solid #000000
}

nav {
  p {
    margin-top:10px
  }
}
